@import "reset";
@import "components/all";

h1 {
  font-family: 'Nunito Sans', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
}

.text {
  font-family: 'PT Sans', sans-serif;
  line-height: 58px;

  &--p {
    line-height: 1.4;
  }
}

.font-size {
  &--m {
    font-size: 30px;
  }

  &--l {
    font-size: 60px;
  }

  &--s {
    font-size: 20px;
  }
}
